# Mutual Fund FAQ Assistant - Environment Settings

# FastAPI App Port configurations
PORT=8000
HOST=127.0.0.1

# Groq Cloud LLM API Key (Obtain from console.groq.com)
GROQ_API_KEY=your-groq-api-key-here

# Ingestion Database cache parameters
INDEX_UPDATE_DATE=01-Jun-2026
DATA_CACHE_PATH=./data/vector_store.index

# Set to true to disable local thread-based scheduler (e.g. in production when using GitHub Actions scheduler)
DISABLE_LOCAL_SCHEDULER=false
